body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

.zone {
    /* padding:30px 50px;
    margin:40px 60px; */
    /* cursor: pointer; */
    display:inline-block;
    color: #FFF;
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
    overflow: auto;
    word-wrap: break-word;
}

/* .zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
} */

/* .box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
} */
/******* NAV *******/
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 07.em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0px;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

/******* COVER *******/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.cover {
    width: 30rem;
}

/******* GRID *******/

.grid-wrapper {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: repeat(25% 60%, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 25px;
    margin: 10px;
}

footer {
    text-align: center;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/

/***********************************************************************
 *  Green Background
 **********************************************************************/

.green {
    background: #56B870;
    /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56B870), color-stop(100%, #a5c956));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* IE10+ */
    background: linear-gradient(top, #56B870 0%, #a5c956 100%);
    /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/

.red {
    background: #F6F6F6;
    /* Old browsers */
    background: -moz-linear-gradient(right bottom, #F6F6F6 0%, #e91c1c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #F6F6F6), color-stop(100%, #e91c1c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right bottom, #F6F6F6 0%, #e91c1c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right bottom, #F6F6F6 0%, #e91c1c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right bottom, #F6F6F6 0%, #e91c1c 100%);
    /* IE10+ */
    background: linear-gradient(right bottom, #F6F6F6 0%, #e91c1c 100%);
    /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/

.yellow {
    background: #F3AAAA;
    /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3AAAA), color-stop(100%, #febf04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%, #febf04 100%);
    /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/

.blue {
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* IE10+ */
    background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* W3C */
}

/***** Search ****/
/* .container input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 24px;
    border-color: black;
  } */

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 20px;
    background: #e91c1c;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    box-sizing: border-box;
  }
  
  form.example button:hover {
    background: #e91c1c;
  }

  form.example button:active {
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


/* Radio Buttons */

  .rad-label {
    display: flex;
    align-items: center;
  
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
  
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, #F6F6F6, #e91c1c);
    position: relative;
  }
  
  .rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
  
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
  }

  code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
  }
  

  /* Code in text */
  p > code,
  li > code,
  dd > code,
  td > code,
  pre > code {
    /* background: #0f0f0f; */
    
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    display:inline-block;
    width: 80%;
    word-wrap: break-word;
  }

.id {
  word-wrap: break-word;
  line-height: 150%;
  /* overflow:hidden; */
}

.copyUrl{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 0 auto;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  /* color: inherit; */
  /* background-color: inherit; */
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  /* box-shadow: 0 9px #999; */
}

.copyUrl:hover {background-color: #7abcff  }

.copyUrl:active {
  background-color: #4096ee   ;
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

p {
  margin: 10px 0;
}

.displayNone {
  display: none;
}

em {
  font-style: italic;
  font-weight: bold;
}